apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: music-event-core-monitor
  namespace: monitoring
spec:
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: music-event-core-app
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s